html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

h1 {
  font-family: monospace;
  font-size: 40px;
  font-weight: bold;
  color: orange;
  margin: auto
}

ul {
  list-style-type: none;
  border-bottom: 10px solid black;
  /*position: relative;*/
  width: 200px;
  height: 200px;
  margin-right: 10px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

li {
  border-radius: 25px;
  background: brown;
  height: 50px;

  margin: 5px auto;

}

.selected {
  border-color: #f00;
}

.hover {
  border-color: blue;
}

.disk-0 {
  width: 80px;
}

.disk-1 {
  width: 132px;

}

.disk-2 {
  width: 195px;
}
